/* changing input field*/
.form-control {
    border-radius: 1.3rem !important;
}

/* chanign text color */
.dark-link {
    font-weight: 400;
    color: #34495e !important;
}

.dark-link:hover {
    color: #3498db !important;
}

/* chanign button */
.btn-auth {
    /*padding-top: 1rem !important;
    padding-bottom: 1rem !important;*/
    font-size: 1.7rem;
    font-weight: 550;
    padding: .5625rem 1.25rem;
    line-height: 1.5;
    border-radius: 1.4rem;
}

.btn-auth:hover {
    color: #fff !important;
}

/* ----- margin and padding ----- */
.pt-10 {
    padding-top: 7rem;
}